.TelaInicialJogo {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

#barcoVermelho {
    width: 25vh; 
}

#barcoPirata {
    width: 25vh;
}

#barcoBranco{
    width: 25vh;
}

.formMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

