.TelaPrincipalProfessorHeader {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .TelaPrincipalProfessorBody {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

.itens{
    display: flex;
    flex-direction: column;
}

.form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#inputTurma{
    margin-top: 2.5vh;
}

#labelDescricao{
    margin-bottom: 19vh;
}

#labelTurma{
    margin-bottom: 1vh;
}

#inputDescricao{
    height: 20vh;
    width: 40vh;
}

#formularioGeral{
    margin-bottom: 5vh;
    padding-top: 5vh;
}

#botaoSalvar{
    margin-left: 50vh;
    width: 15vh;
}

#tipo1{
    height: 10vh;
    width: 10vh;
}

#tipo2{
    height: 10vh;
    width: 10vh;
    margin-left: 2vh;
    margin-right: 2vh;
}

#tipo3{
    height: 10vh;
    width: 10vh;
    margin-right: 2vh;
}

#tipo4{
    height: 10vh;
    width: 10vh;
}