.TelaPrincipalProfessor {
    display: flex;
    align-items: center;
    justify-content: center;
    background: round;
}

.TelaPrincipalProfessorItens {
    background-color: rgb(91, 148, 208);
    font-size: 20Px;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.itensDescricaoTMP {
    display: flex;
    flex-direction: column;
}

.itensTurmaTMP {
    display: flex;
    flex-direction: column;
}

.formTMP {
    display: flex;
    flex-direction: column;
}

#inputTurmaTMP {
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 2vh;
}

#labelDescricao {
    margin-top: 3vh;
    margin-bottom: 2vh;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#labelTurma {
    margin-top: 3vh;
    margin-bottom: 2vh;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#inputDescricaoTMP {
    width: 50vh;
    height: 20vh;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#formularioGeral {
    margin-bottom: 5vh;
    margin-top: 5vh;
}

#botaoSalvar {
    margin-left: 50vh;
    width: 15vh;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#tipo1 {
    height: 10vh;
    width: 10vh;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#tipo2 {
    height: 10vh;
    width: 10vh;
    margin-left: 2vh;
    margin-right: 2vh;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#tipo3 {
    height: 10vh;
    width: 10vh;
    margin-right: 2vh;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#tipo4 {
    height: 10vh;
    width: 10vh;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.buttonsTipos{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#labelExplicacao{
    font-size: 15px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.divLabelQuestaoAtual{
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
}

#labelquestaoAtual{
    font-size: 40px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.divExplicaoes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#buttonProximaQuestao{
    margin-bottom: 3vh;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#buttonAnteriorQuestao{
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#botaoSalvar{
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#labelEnunciado{
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#enunciado{
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 40vh;
    height: 10vh;
}

#buttonSalvarQuestao{
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#inputEscolhaImagem{
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#voltarTPP{
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 20vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.divPreview{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vh;
}

#imgPreview{
    height: 250px;
    width: 500px;
}

#labelPrevie{
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}