.TelaMapa {
  background-color: #282c34;
  background: round;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#barco {
  border: none;
  width: 25vh;
  height: 21vh;
  margin-left: 85vh;
  margin-top: 30vh;
}