.TelaLogin {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: round;
}

#botaoCadastrar {
    margin-right: 2vh;
    width: 15vh;
}

#botaoLogar {
    width: 15vh;
}

.itensLogin {
    display: flex;
    flex-direction: column;
}

.formLogin {
    background-color: rgb(91, 148, 208);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.buttons{
    margin-top: 2vh;
    margin-bottom: 5vh;
}

#botaoCadastrar{
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#botaoLogar{
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#userPassword {
    margin-top: 1vh;
    margin-left: 5vh;
    width: 30vh;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#userEmail{
    width: 30vh;
    margin-top: 5vh;
    margin-right: 5vh;
    margin-left: 5vh;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
