.TelaRedefinirSenha{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: round;
}

.formRedefinirSenha{
    background-color: rgb(91, 148, 208);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#emailRedefinir{
    margin-top: 5vh;
    margin-left: 5vh;
    margin-bottom: 2vh;
    margin-right: 5vh;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#botaoEnviarRedefinirSenha{
    margin-bottom: 5vh;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#botaoVoltarRedefinirSenha{
    margin-left: 2vh;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}